<div>
  <h2 id="page-heading" data-cy="EmployeeHeading">
    <span jhiTranslate="banopersApp.employee.home.title">Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="banopersApp.employee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee"
        [routerLink]="['/employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="banopersApp.employee.home.createLabel"> Buat Employee baru </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="banopersApp.employee.home.search">Cari Employee</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'banopersApp.employee.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="employees?.length === 0">
    <span jhiTranslate="banopersApp.employee.home.notFound">No Employees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="employees && employees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="banopersApp.employee.firstName">First Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="banopersApp.employee.lastName">Last Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="banopersApp.employee.email">Email</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="banopersApp.employee.phoneNumber">Phone Number</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hireDate">
            <span jhiTranslate="banopersApp.employee.hireDate">Hire Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salary">
            <span jhiTranslate="banopersApp.employee.salary">Salary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commissionPct">
            <span jhiTranslate="banopersApp.employee.commissionPct">Commission Pct</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="manager.id">
            <span jhiTranslate="banopersApp.employee.manager">Manager</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="department.id">
            <span jhiTranslate="banopersApp.employee.department">Department</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let employee of employees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a>
          </td>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phoneNumber }}</td>
          <td>{{ employee.hireDate | formatMediumDatetime }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.commissionPct }}</td>
          <td>
            <div *ngIf="employee.manager">
              <a [routerLink]="['/employee', employee.manager.id, 'view']">{{ employee.manager?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="employee.department">
              <a [routerLink]="['/department', employee.department.id, 'view']">{{ employee.department?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/employee', employee.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Lihat</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/employee', employee.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Ubah</span>
              </button>

              <button type="submit" (click)="delete(employee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Hapus</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
